.viewer {
  background-color: #ECF0F3;
  padding-top: 15vh;
}

.active {
  box-shadow: inset 6px 6px 6px #CBD4E3,
  inset -6px -6px 6px #ffffffc7 ;
}

.bodyLog {
  width: 80%;
  margin-left: 10%;
  border-radius: 30px;
  background-color: #edf2f7;
  box-shadow: 6px 6px 12px #CBD4E3,
             -6px -6px 12px #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.headerLog{
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 5vh;
  border-radius: 30px;
  background-color: #edf2f7;
  box-shadow: 6px 6px 12px #CBD4E3,
             -6px -6px 12px #fff;
}

.logh5 {
  width: 50%;
  text-align: center;
}
.bsct {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.contSign {
  display: none;
}

.input {
  margin-top: 20px;
  border: none;
  border-radius: 15px;
  padding: 15px;
  background-color: #ECF0F3;
  box-shadow: inset 6px 6px 6px #CBD4E3,
              inset -6px -6px 6px #ffffffc7 ;
  font-size: medium;
  font-weight: bold;
  max-width: 70%;
 }
 
 .input:focus {
  outline-color: rgba(255, 255, 255, 0.486);
  place-content: "Enter your message!";
 }

.btn {
  outline: none;
  border: none;
  width: 70%;
  margin-top: 20px;
  border-radius: 15px;
  background-color: #3648ce;
  color: #ECF0F3;
  padding: 10px;
  font-size: medium;
  box-shadow: 6px 6px 12px #CBD4E3;
}